<h1>2. beadandó feladat</h1>

<h4>1. Rendelések</h4>
<p>Az adatok a <i>orders.tsv</i> szöveg fájlban vannak, ami tabulárrral elválasztott szöveges állomány.<br/><b>a)</b> Olvassa be az adatokat egy dataframe-be. Ne felejtse beállítani, hogy az elválasztó karakter most a '\t'</p>

In [1]:
import pandas as pd

#a feladat (2 pont)
df = pd.read_csv('orders.tsv', sep='\t')
dfcopy = df.copy()

df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

<p><b>b)</b> ellenőrizze a 'item_price' oszlop típusát. Alakítsa át, hogy szám legyen. <br/><i>(Segítség: 1)levágjuk a szöveg elejéről a dollár jelet, vagy 2) a dollár jelet egy üressel helyettesítjük)</i></p>

In [2]:
#b feladat (1 pont)
print(type(df['item_price'][0]))

df['item_price'] = df['item_price'].str.replace('$', '', regex=False)
df['item_price'] = pd.to_numeric(df['item_price'])

print(type(df['item_price'][0]))

df.head()

<class 'str'>
<class 'numpy.float64'>

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

<p><b>c)</b> Számolja ki a rendelések összegét egy 'Sum' oszlopba (az ár egységárat jelent, és quantity oszlop adja meg, hogy hány darabot rendeltek az adott ételből)</p>

In [3]:
#c feladat (1 pont)
df['Sum'] = df['quantity'] * df['item_price']

df.head()

,order_id,quantity,item_name,choice_description,item_price,Sum
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96

<p><b>d)</b> Számítsa ki az átlagos rendelés értékét (az összes rendelés értékét kell osztani a rendelések számával)</p>

In [4]:
#d feladat (1 pont)
df['Sum'].sum()/len(df['order_id'])

8.48918649935093

<p><b>e)</b> Írassuk ki, hogy az adott ételből hányat adtak el. (<i>Segítség: Az adott item_name csoporthoz összesen mennyit adtak el</i>)<br/>
<b>f)</b> Írassuk ki a rendelt mennyiség szerint rendezve.</p>

In [5]:
#e feladat (1 pont)
print(df.groupby(['item_name'])['quantity'].sum())

item_name
6 Pack Soft Drink                         55
Barbacoa Bowl                             66
Barbacoa Burrito                          91
Barbacoa Crispy Tacos                     12
Barbacoa Salad Bowl                       10
Barbacoa Soft Tacos                       25
Bottled Water                            211
Bowl                                       4
Burrito                                    6
Canned Soda                              126
Canned Soft Drink                        351
Carnitas Bowl                             71
Carnitas Burrito                          60
Carnitas Crispy Tacos                      8
Carnitas Salad                             1
Carnitas Salad Bowl                        6
Carnitas Soft Tacos                       40
Chicken Bowl                             761
Chicken Burrito                          591
Chicken Crispy Tacos                      50
Chicken Salad                              9
Chicken Salad Bowl                       123
Chicken Soft Tacos                       120
Chips                                    230
Chips and Fresh Tomato Salsa             130
Chips and Guacamole                      506
Chips and Mild Fresh Tomato Salsa          1
Chips and Roasted Chili Corn Salsa        23
Chips and Roasted Chili-Corn Salsa        18
Chips and Tomatillo Green Chili Salsa     45
Chips and Tomatillo Red Chili Salsa       50
Chips and Tomatillo-Green Chili Salsa     33
Chips and Tomatillo-Red Chili Salsa       25
Crispy Tacos                               2
Izze                                      20
Nantucket Nectar                          29
Salad                                      2
Side of Chips                            110
Steak Bowl                               221
Steak Burrito                            386
Steak Crispy Tacos                        36
Steak Salad                                4
Steak Salad Bowl                          31
Steak Soft Tacos                          56
Veggie Bowl                               87
Veggie Burrito                            97
Veggie Crispy Tacos                        1
Veggie Salad                               6
Veggie Salad Bowl                         18
Veggie Soft Tacos                          8
Name: quantity, dtype: int64

In [6]:
#f feladat (1 pont)
print(df.groupby(['item_name'])['quantity'].sum().sort_values())

item_name
Carnitas Salad                             1
Veggie Crispy Tacos                        1
Chips and Mild Fresh Tomato Salsa          1
Crispy Tacos                               2
Salad                                      2
Bowl                                       4
Steak Salad                                4
Veggie Salad                               6
Carnitas Salad Bowl                        6
Burrito                                    6
Carnitas Crispy Tacos                      8
Veggie Soft Tacos                          8
Chicken Salad                              9
Barbacoa Salad Bowl                       10
Barbacoa Crispy Tacos                     12
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Izze                                      20
Chips and Roasted Chili Corn Salsa        23
Barbacoa Soft Tacos                       25
Chips and Tomatillo-Red Chili Salsa       25
Nantucket Nectar                          29
Steak Salad Bowl                          31
Chips and Tomatillo-Green Chili Salsa     33
Steak Crispy Tacos                        36
Carnitas Soft Tacos                       40
Chips and Tomatillo Green Chili Salsa     45
Chicken Crispy Tacos                      50
Chips and Tomatillo Red Chili Salsa       50
6 Pack Soft Drink                         55
Steak Soft Tacos                          56
Carnitas Burrito                          60
Barbacoa Bowl                             66
Carnitas Bowl                             71
Veggie Bowl                               87
Barbacoa Burrito                          91
Veggie Burrito                            97
Side of Chips                            110
Chicken Soft Tacos                       120
Chicken Salad Bowl                       123
Canned Soda                              126
Chips and Fresh Tomato Salsa             130
Bottled Water                            211
Steak Bowl                               221
Chips                                    230
Canned Soft Drink                        351
Steak Burrito                            386
Chips and Guacamole                      506
Chicken Burrito                          591
Chicken Bowl                             761
Name: quantity, dtype: int64

<p><b>g)</b> Az eredeti adatok közül gyűjtsük ki a dobozos üdítő italok adatait. (<i>Azaz "Canned Soda", vagy "Canned Soft Drink"</i>).</p>

In [7]:
#g feladat (1 pont)
dfcopy.loc[(dfcopy['item_name'] == 'Canned Soda') | (dfcopy['item_name'] == 'Canned Soft Drink')]

      order_id  quantity          item_name choice_description item_price
18           9         2        Canned Soda           [Sprite]     $2.18
28          14         1        Canned Soda       [Dr. Pepper]     $1.09
51          23         2        Canned Soda     [Mountain Dew]     $2.18
53          24         1        Canned Soda           [Sprite]     $1.09
107         47         1        Canned Soda       [Dr. Pepper]     $1.09
...        ...       ...                ...                ...        ...
4585      1823         1  Canned Soft Drink        [Diet Coke]     $1.25
4597      1826         1  Canned Soft Drink           [Nestea]     $1.25
4601      1827         1  Canned Soft Drink        [Diet Coke]     $1.25
4606      1828         1  Canned Soft Drink             [Coke]     $1.25
4609      1829         1  Canned Soft Drink           [Sprite]     $1.25

[405 rows x 5 columns]

<p><b>h)</b> Készítsünk egy listát, hogy az egyes üdítőkből összesen mennyit rendeltek.</p>

In [8]:
#h feladat (1 pont)
dfcopy.loc[(df['item_name'] == 'Canned Soda') | (dfcopy['item_name'] == 'Canned Soft Drink')].groupby('item_name')['quantity'].sum()

item_name
Canned Soda          126
Canned Soft Drink    351
Name: quantity, dtype: int64

<h4>2. Senzorok</h4>

<p>Az <a href="http://web.uni-corvinus.hu/~fszabina/data/adls_b.txt">adls_b.txt</a> és az <a href="http://web.uni-corvinus.hu/~fszabina/data/sensors_b.txt">sensors_b.txt</a> egy kísérleti alany szokásos otthoni tevékenységeiről tartalmaz adatokat. Az adls_b.txt azt adja meg, hogy az alany mely időszakban milyen jellegű tevékenységet végzett, a sensors_b.txt pedig a házban elhelyezett szenzorok mérési adatait tartalmazza.</p>
<p>Készítsen Python nyelvű programot, amely <br/>
<b>(a)</b> a tevékenységre fordított összidő alapján csökkenő sorrendben kiírja az alany tevékenységeit! <br/>(<i>Segítség: - A tevékenységek az Activity oszlopban találhatók.<br/>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Az első két oszlopot dátumra kell konvertálni</i>)<br/>
<b>(b)</b> meghatározza, hogy a fürdőszobában (Bathroom) mely időintervallumokban érzékeltek a szenzorok aktivitást a 2012.11.15-ig terjedő időszakban!</p>

In [9]:
import pandas as pd

activities_df = pd.read_csv('adls_b.txt', sep=';')
print(activities_df.head())

sensors_df = pd.read_csv('sensors_b.txt', sep=';')
print(sensors_df.head())

             Starttime              Endtime       Activity
0  2012-11-11 21:14:00  2012-11-12 00:22:59  Spare_Time/TV
1  2012-11-12 00:24:00  2012-11-12 00:43:59  Spare_Time/TV
2  2012-11-12 00:48:00  2012-11-12 00:49:59       Grooming
3  2012-11-12 00:50:00  2012-11-12 01:51:59  Spare_Time/TV
4  2012-11-12 01:52:00  2012-11-12 01:52:59       Grooming
             Starttime              Endtime Location      Type    Place
0  2012-11-11 21:14:21  2012-11-12 00:21:49     Seat  Pressure   Living
1  2012-11-12 00:22:57  2012-11-12 00:22:59     Door       PIR   Living
2  2012-11-12 00:23:14  2012-11-12 00:23:17     Door       PIR  Kitchen
3  2012-11-12 00:24:20  2012-11-12 00:24:22     Door       PIR  Kitchen
4  2012-11-12 00:24:42  2012-11-12 00:24:54     Door       PIR   Living

In [10]:
#a feladat (1 pont)
activities_df['Starttime'] = pd.to_datetime(activities_df['Starttime'])
activities_df['Endtime'] = pd.to_datetime(activities_df['Endtime'])

activities_df['Activetime'] = activities_df['Endtime']-activities_df['Starttime']

print(activities_df.groupby(['Activity'])['Activetime'].sum().sort_values(ascending=False))

Activity
Sleeping        7 days 11:24:09
Spare_Time/TV   6 days 06:37:31
Leaving         3 days 15:49:22
Grooming        0 days 07:08:07
Snack           0 days 06:47:24
Lunch           0 days 06:36:47
Breakfast       0 days 05:08:38
Toileting       0 days 02:49:09
Dinner          0 days 02:00:49
Showering       0 days 01:14:49
Name: Activetime, dtype: timedelta64[ns]

In [11]:
#b feladat (1 pont)
sensors_df['Starttime'] = pd.to_datetime(sensors_df['Starttime'])
sensors_df['Endtime'] = pd.to_datetime(sensors_df['Endtime'])

sensors_df.loc[(sensors_df['Place'] == 'Bathroom') & (sensors_df['Endtime']<'2012-11-16')]

              Starttime             Endtime Location   Type     Place
9   2012-11-12 00:48:38 2012-11-12 00:50:12    Basin    PIR  Bathroom
13  2012-11-12 01:53:27 2012-11-12 01:53:35    Basin    PIR  Bathroom
14  2012-11-12 01:53:39 2012-11-12 01:54:27   Toilet  Flush  Bathroom
18  2012-11-12 09:37:28 2012-11-12 09:38:45   Toilet  Flush  Bathroom
32  2012-11-12 10:18:19 2012-11-12 10:20:15    Basin    PIR  Bathroom
33  2012-11-12 10:21:39 2012-11-12 10:29:45   Shower    PIR  Bathroom
38  2012-11-12 10:33:47 2012-11-12 10:34:10    Basin    PIR  Bathroom
39  2012-11-12 10:34:11 2012-11-12 10:35:02   Toilet  Flush  Bathroom
40  2012-11-12 10:35:14 2012-11-12 10:40:01    Basin    PIR  Bathroom
45  2012-11-12 10:42:05 2012-11-12 10:42:07    Basin    PIR  Bathroom
72  2012-11-12 12:41:59 2012-11-12 12:42:39   Toilet  Flush  Bathroom
77  2012-11-12 12:52:58 2012-11-12 12:55:12   Toilet  Flush  Bathroom
78  2012-11-12 13:00:02 2012-11-12 13:07:11    Basin    PIR  Bathroom
79  2012-11-12 13:12:47 2012-11-12 13:18:24    Basin    PIR  Bathroom
103 2012-11-12 15:38:50 2012-11-12 15:39:48   Toilet  Flush  Bathroom
104 2012-11-12 15:39:05 2012-11-12 15:40:39    Basin    PIR  Bathroom
116 2012-11-12 17:43:33 2012-11-12 17:44:31   Toilet  Flush  Bathroom
117 2012-11-12 17:43:55 2012-11-12 17:44:07    Basin    PIR  Bathroom
134 2012-11-12 21:14:56 2012-11-12 21:15:03    Basin    PIR  Bathroom
142 2012-11-12 22:53:46 2012-11-12 22:53:54    Basin    PIR  Bathroom
148 2012-11-12 23:36:51 2012-11-12 23:37:59   Toilet  Flush  Bathroom
156 2012-11-13 01:29:06 2012-11-13 01:29:39    Basin    PIR  Bathroom
169 2012-11-13 09:11:46 2012-11-13 09:11:49    Basin    PIR  Bathroom
170 2012-11-13 09:14:48 2012-11-13 09:15:53   Toilet  Flush  Bathroom
171 2012-11-13 09:21:24 2012-11-13 09:24:26    Basin    PIR  Bathroom
172 2012-11-13 09:29:37 2012-11-13 09:30:26    Basin    PIR  Bathroom
173 2012-11-13 09:34:55 2012-11-13 09:36:50    Basin    PIR  Bathroom
197 2012-11-13 14:05:24 2012-11-13 14:06:09   Toilet  Flush  Bathroom
216 2012-11-13 16:07:08 2012-11-13 16:08:02   Toilet  Flush  Bathroom
243 2012-11-13 19:46:30 2012-11-13 19:47:27   Toilet  Flush  Bathroom
260 2012-11-13 23:39:32 2012-11-13 23:40:03    Basin    PIR  Bathroom
268 2012-11-14 00:27:20 2012-11-14 00:28:29    Basin    PIR  Bathroom
269 2012-11-14 00:28:44 2012-11-14 00:29:32   Toilet  Flush  Bathroom
273 2012-11-14 05:15:19 2012-11-14 05:15:52    Basin    PIR  Bathroom
277 2012-11-14 09:04:43 2012-11-14 09:05:43   Toilet  Flush  Bathroom
308 2012-11-14 11:47:39 2012-11-14 11:52:17    Basin    PIR  Bathroom
309 2012-11-14 11:56:03 2012-11-14 11:58:55   Shower    PIR  Bathroom
310 2012-11-14 12:00:16 2012-11-14 12:02:42    Basin    PIR  Bathroom
311 2012-11-14 12:07:50 2012-11-14 12:08:53    Basin    PIR  Bathroom
314 2012-11-14 12:21:31 2012-11-14 12:22:55    Basin    PIR  Bathroom
332 2012-11-14 14:23:11 2012-11-14 14:24:01   Toilet  Flush  Bathroom
333 2012-11-14 14:23:22 2012-11-14 14:24:13    Basin    PIR  Bathroom
385 2012-11-15 00:07:20 2012-11-15 00:07:28    Basin    PIR  Bathroom
386 2012-11-15 00:09:17 2012-11-15 00:10:05   Toilet  Flush  Bathroom
387 2012-11-15 00:09:42 2012-11-15 00:10:10    Basin    PIR  Bathroom
400 2012-11-15 07:52:11 2012-11-15 07:52:52   Toilet  Flush  Bathroom
412 2012-11-15 09:51:55 2012-11-15 09:53:10   Toilet  Flush  Bathroom
413 2012-11-15 09:52:52 2012-11-15 09:52:57    Basin    PIR  Bathroom
416 2012-11-15 09:53:48 2012-11-15 09:56:53    Basin    PIR  Bathroom
417 2012-11-15 09:58:18 2012-11-15 10:04:53   Shower    PIR  Bathroom
418 2012-11-15 10:05:27 2012-11-15 10:07:25    Basin    PIR  Bathroom
460 2012-11-15 15:48:31 2012-11-15 15:49:44   Toilet  Flush  Bathroom
461 2012-11-15 15:48:53 2012-11-15 15:49:54    Basin    PIR  Bathroom